/* @font-face {
    font-family: 'GTPLANAR';
    src: url('GT-Planar-Regular-Trial.woff2') format("woff2");
    /*   src: url('GT-Planar.otf'); */


/* font-weight: 1 999; */


/* } */

:root {
    --red: #ff6f69;
    --weight: 900;
    --slant: 0;
    --cursorx: 0;
    --cursory: 0;
    --leftposition: 330px;
    --topposition: 160px;
    --bottompostion: 900px;
    --rightposition: 1040px;
}

@font-face {
    font-family: 'GTPlanar';
    src: url('GT-Planar-Trial-VF.ttf') format('truetype');
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'GTPlanar';
    color: white;
    /* color: rgb(255, 82, 82); */
    cursor: none;
}

#canvas {
    position: absolute;
    /* transform: translate(40%, -10%); */
    margin: auto;
    left: 20%;
    /* background-color: blue; */
}

h {
    font-variation-settings: 'wght' 900, 'slnt' 40;
}

#mftest {
    margin: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 109px;
    text-align: center;
}


/* .posterP {
    position: absolute; 
    margin: auto;
    font-size: 89px; 
} */

span {
    /* color: white; */
    /* font-weight: 0; */
    font-variation-settings: 'wght' var(--weight), 'slnt' var(--slant);
}

#cursor {
    position: absolute;
    left: var(--cursorx);
    top: var(--cursory);
    font-size: 69px;
    color: #000000;
}

#editpanel {
    margin: auto;
    top: 2%;
    font-size: 19px;
}

#space {
    height: 200px;
}