/* @font-face {
    font-family: 'GTPLANAR';
    src: url('GT-Planar-Regular-Trial.woff2') format("woff2");
    /*   src: url('GT-Planar.otf'); */


/* font-weight: 1 999; */


/* } */

:root {
    --red: #ff6f69;
    --weight: 900;
    --slant: 0;
    --cursorx: 0;
    --cursory: 0;
    --leftposition: 330px;
    --topposition: 160px;
    --bottompostion: 900px;
    --rightposition: 1040px;
}

@font-face {
    font-family: 'GTPlanar';
    src: url('GT-Planar-Trial-VF.ttf') format('truetype');
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: 'GTPlanar';
    color: #ffffff;
}

#background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    height: 100%;
    z-index: -2;
}

#canvas {
    background-color: transparent;
    position: absolute;
    margin: auto;
    left: 0%;
    top: 30%;
    width: 100%;
    z-index: -1;
}

h {
    font-variation-settings: 'wght' 900, 'slnt' 40;
}

#mftest {
    -webkit-font-smoothing: antialiased;
    font-size: 109px;
    text-align: center;
}

span {
    font-variation-settings: 'wght' var(--weight), 'slnt' var(--slant);
}

#cursor {
    position: absolute;
    left: var(--cursorx);
    top: var(--cursory);
    font-size: 69px;
    color: #000000;
}

#editpanel {
    margin: auto;
    top: 2%;
    font-size: 16px;
    z-index: 1;
    background-color: transparent;
    /* color: #ffffff; */
}

#space {
    height: 200px;
}

#newlogo {
    position: relative;
    left: 40px
}